/* Add CSS Styling */

.odd {
  background-color: rgb(240, 129, 129);
  font-family: Verdana, 'DejaVu Sans', sans-serif;
}

#one {
  color: blue;
  font-size: 36px;
}

#another {
  background-color: rgb(96, 237, 96);
  font-weight: bold;
}

.text-large {
  font-size: 24px;
}
