body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: darkmagenta;
  color: white;
  padding: 20px;
  font-weight: 800;
  font-size: 20px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 200px;
  flex-shrink: 0; /* 縮まないようにする */
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  width: 400px;
  padding: 20px;
  height: 200px;
}

.sidebar-card {
  display: flex;
  flex: 1;
}

.flex-card {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  flex: auto;
  gap: 20px;
  justify-content: center;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  padding-left: 20px;
  list-style: none;
}

.footer {
  display: flex;
  margin-top: auto;
  justify-content: center;
  align-items: center;
}
