/* Add CSS Styling */
.btn-dark,
.btn-yellow {
  font-size: 28px;
  font-family: Helvetica, 'Times New Roman', sans-serif;
}

.btn-dark {
  background-color: black;
  color: white;
}

.btn-yellow {
  background-color: yellow;
}
